/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/img/gym.jpg');
    width: 90%;
    background-repeat: no-repeat;
}

.titulo {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    margin-top: 25px;
}

.row {
    margin-top: 20px;
}

.btn-color {
    background-color: #8b0527;
    border-color: #8b0527;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #bb2b4f;
    border-color: #bb2b4f;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
